*{
    margin: 0;
    padding: 0;
}
.division-landing{
    display: grid;
    grid-template-rows: 120px 600px 500px 600px 60px ;
    /* gap: 20px; */
}

/* .fixed{
    position: fixed;
    top: 0;
    width: 100%;
} */
.divisions{
    background-color: rgb(51, 208, 179);
}

.imagentemp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Color Theme Swatches in Hex */
.Balzar-Arquitectos---UX-/-UI-1-hex { color: #F2EEEB; }
.Balzar-Arquitectos---UX-/-UI-2-hex { color: #BF8F73; }
.Balzar-Arquitectos---UX-/-UI-3-hex { color: #A6978F; }
.Balzar-Arquitectos---UX-/-UI-4-hex { color: #8C5946; }
.Balzar-Arquitectos---UX-/-UI-5-hex { color: #402B23; }

