.division-navbar_botton{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2 , 1fr); 
    align-items: center;
    margin-left: 5%;
}
.buttons-navbar-botton button{
    background-color: #F2EEEB;
    border: none;
    height: 40px;
    width: 140px;
    color: #402B23;
}
.buttons-navbar-botton button:hover{
    background-color: #8C5946;
    transition: .3s;
    color: #F2EEEB;
    scale: 1.1;
}
.buttons-navbar-botton a:hover{
    color: #F2EEEB;
}
.buttons-navbar-botton a{
    text-decoration: none;
    color: #402B23;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input#search {
    margin-bottom: 10px;
    height: 25px;
    width: 500px;
    font-size: 18px;
    text-align: center;
    font-family: cursive;
    border: none;
    border-radius:3px;
    box-shadow: 0px 2px 10px black;
}









/* Color Theme Swatches in Hex */
.Balzar-Arquitectos---UX-/-UI-1-hex { color: #F2EEEB; }
.Balzar-Arquitectos---UX-/-UI-2-hex { color: #BF8F73; }
.Balzar-Arquitectos---UX-/-UI-3-hex { color: #A6978F; }
.Balzar-Arquitectos---UX-/-UI-4-hex { color: #8C5946; }
.Balzar-Arquitectos---UX-/-UI-5-hex { color: #402B23; }