.division-navbar_botton{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2 , 1fr); 
    align-items: center;
    margin-left: 5%;
}
.buttons-navbar-botton button{
    background-color: #F2EEEB;
    border: none;
    height: 40px;
    width: 140px;
    color: #402B23;
}
.buttons-navbar-botton button:hover{
    background-color: #8C5946;
    transition: .3s;
    color: #F2EEEB;
    scale: 1.1;
}










/* Color Theme Swatches in Hex */
.Balzar-Arquitectos---UX-/-UI-1-hex { color: #F2EEEB; }
.Balzar-Arquitectos---UX-/-UI-2-hex { color: #BF8F73; }
.Balzar-Arquitectos---UX-/-UI-3-hex { color: #A6978F; }
.Balzar-Arquitectos---UX-/-UI-4-hex { color: #8C5946; }
.Balzar-Arquitectos---UX-/-UI-5-hex { color: #402B23; }