.products-divisions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px;

}
.titleProducts h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #402B23;
    padding: 10px;
}
.titleProducts h2{
    font-family:'Times New Roman', Times, serif;
    color: #402B23;
    margin-left: 8%;
    padding: 10px;
    margin-bottom: 10px;
}
.cardItems{
    display: grid;
    justify-items: center;
    align-items: center;
    /* text-align: center; */
}
.boxItem{
    display: grid;
    grid-template-rows: 450px;
    grid-template-columns: 300px;
    background-color: #D1B4A8;
}
.boxItem{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px 100px;
    justify-items: center;
    align-items: center;
}
.contentStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cardContent img{
    width: 250px;
    height: 320px;
    object-fit: cover;
}
.contentStyle h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contentStyle h3{
    font-size: 20px;
}

.contentStyle button{
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    background-color: #402B23;
    color: #F2EEEB;
    border: none;
    border-radius: 80px;
}
.contentStyle button:hover{
    font-size: 18px;
    background-color: #F2EEEB;
    color: #402B23;
    scale: 1.2;
    transition: .2s;
}
.boxItem:hover{
    scale: 1.1;
    transition: .2s;
    box-shadow: 10px 10px 10px #402B23;
}






/* Color Theme Swatches in Hex */
.Balzar-Arquitectos---UX-/-UI-1-hex { color: #F2EEEB; }
.Balzar-Arquitectos---UX-/-UI-2-hex { color: #BF8F73; }
.Balzar-Arquitectos---UX-/-UI-3-hex { color: #A6978F; }
.Balzar-Arquitectos---UX-/-UI-4-hex { color: #8C5946; }
.Balzar-Arquitectos---UX-/-UI-5-hex { color: #402B23; }